{% extends "base_generic.html" %}

{% load filters %}

{% load leaflet_tags %}

{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}
  {% if dataType == 'd' %}
    <h3><a href="">{{ cycle.entryid }}: {{ cycle.date }}</a></h3><!-- author detail link not yet defined -->
    <div style="margin-left:20px;margin-top:20px">
      <h4>Day/Trip</h4>
      <p><strong>Distance:</strong> {{ cycle.distance }}</p>
      <p><strong>Time:</strong> {{ cycle.duration }}</p>
      <p><strong>Speed:</strong> {{ cycle.speed }}</p>
    </div>
    <div style="margin-left:20px;margin-top:20px">
      <h4>Total (from bicycle computer)</h4>
      <p><strong>Distance:</strong> {{ cycle.totaldistance }}</p>
      <p><strong>Time:</strong> {{ cycle.totalduration }}</p>
      <p><strong>Speed:</strong> {{ cycle.totalspeed }}</p>
    </div>
    <div style="margin-left:20px;margin-top:20px">
      <h4>Culmulative values</h4>
      <p><strong>Distance:</strong> {{ cycle.cumdistance }}</p>
      <p><strong>Time:</strong> {{ cycle.cumduration }}</p>
    </div>
  {% elif dataType == 'wmy' %}
    <h3><a href="">{{ cycle.date }}</a></h3>
    <div style="margin-left:20px;margin-top:20px">
      <p><strong>Number of Days/Trips:</strong> {{ cycle.numberofdays }}</p>
      <p><strong>Distance:</strong> {{ cycle.distance }}</p>
      <p><strong>Time:</strong> {{ cycle.duration }}</p>
      <p><strong>Speed:</strong> {{ cycle.speed }}</p>
    </div>
  {% endif %}

  {% if gps_positions %}
    {% if gps is not None %}
        <div style="margin-left:20px;margin-top:20px">
          <h4>{{ gps.filename }}</h4>
          <p><strong>Start:</strong> {{ gps.start }} &nbsp; <strong>End:</strong> {{ gps.end }}</p>
        </div>
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
      {% if settings.slice > 1 %}
        <p>Map: (only showing every {{ settings.slice|number_with_suffix }} point - select fewer files for better resolution)</p>
      {% endif %}
      <form method="get">
        Select a different time period for GPS data:
        {{ gpsdatarangeform }}
      <button type="submit" onclick="copyCoords()";>Replot</button>
    </form>
    </div>
    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}
    <div id="map" style="height: 600px;">
      <script>
        var map = L.map('map').setView({{ center | safe }}, {{ zoom }});

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        {% for position in gps_positions %}
            L.polyline({{ position | safe }}, { color: 'blue' }).addTo(map);
        {% endfor %}

        function copyCoords() {
          if (document.getElementById("id_use_coords").checked) {
            var centerCoordinates = map.getCenter();
            document.getElementById('id_zoom').value = map.getZoom();
            document.getElementById('id_cenLat').value = centerCoordinates.lat.toFixed(9);
            document.getElementById('id_cenLng').value = centerCoordinates.lng.toFixed(9);
          }
          // Continue with the form submission
          event.target.form.submit();
        }
      </script>
    </div>
  {% endif %}

{% endblock %}