{% extends "base_generic.html" %}

{% load filters %}

{% load leaflet_tags %}

{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}
  {% if dataType == 'd' %}
    <h3><a href="">{{ cycle.entryid }}: {{ cycle.date }}</a></h3><!-- author detail link not yet defined -->
    <div style="margin-left:20px;margin-top:20px">
      <h4>Day/Trip</h4>
      <p><strong>Distance:</strong> {{ cycle.distance }}</p>
      <p><strong>Time:</strong> {{ cycle.duration }}</p>
      <p><strong>Speed:</strong> {{ cycle.speed }}</p>
    </div>
    <div style="margin-left:20px;margin-top:20px">
      <h4>Total (from bicycle computer)</h4>
      <p><strong>Distance:</strong> {{ cycle.totaldistance }}</p>
      <p><strong>Time:</strong> {{ cycle.totalduration }}</p>
      <p><strong>Speed:</strong> {{ cycle.totalspeed }}</p>
    </div>
    <div style="margin-left:20px;margin-top:20px">
      <h4>Culmulative values</h4>
      <p><strong>Distance:</strong> {{ cycle.cumdistance }}</p>
      <p><strong>Time:</strong> {{ cycle.cumduration }}</p>
    </div>
  {% elif dataType == 'wmy' %}
    <h3><a href="">{{ cycle.date }}</a></h3>
    <div style="margin-left:20px;margin-top:20px">
      <p><strong>Number of Days/Trips:</strong> {{ cycle.numberofdays }}</p>
      <p><strong>Distance:</strong> {{ cycle.distance }}</p>
      <p><strong>Time:</strong> {{ cycle.duration }}</p>
      <p><strong>Speed:</strong> {{ cycle.speed }}</p>
    </div>
  {% endif %}

  {% if gps_positions %}
    {% if gps is not None %}
        <div style="margin-left:20px;margin-top:20px">
          <h4>{{ gps.filename }}</h4>
          <p><strong>Start:</strong> {{ gps.start }} &nbsp; <strong>End:</strong> {{ gps.end }}</p>
        </div>
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
      {% if settings.slice > 1 %}
        <p>Map: (only showing every {{ settings.slice|number_with_suffix }} point - select fewer files for better resolution)</p>
      {% else %}
        <p>Map:</p>
      {% endif %}
      <form method="get">
        Select a different time period for GPS data:
        {{ gpsdatarangeform }}
      <button type="submit">Replot</button>
    </form>
    </div>
    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}
    <button id="getZoomAndCenter">Replot only data in this area</button>
    <input type="checkbox" id="keepDate" checked="true" name="vehicle1" value="Bike">
    <label for="keepDate">Keep the date range</label>
    <div id="map" style="height: 600px;">
      <script>
        var map = L.map('map').setView({{ center | safe }}, {{ zoom }});

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        {% for position in gps_positions %}
            L.polyline({{ position | safe }}, { color: 'blue' }).addTo(map);
        {% endfor %}

        // Function to handle the button click
        document.getElementById('getZoomAndCenter').addEventListener('click', function() {
            var keepDate = document.getElementById("keepDate").checked;
            var centerCoordinates = map.getCenter(); // Get the center coordinates
            var urlParams = window.location.search.replace(/&amp;/g, "&").replace(/\?/g, "");
            var urlParamsPairs = urlParams.split("&");
            var queryParams = [];
            var mapParamsAdded = false;
            for (var i = 0; i < urlParamsPairs.length; i++) {
              var keyValue = urlParamsPairs[i].split("=");
              var key = decodeURIComponent(keyValue[0]);
              if ((key=='begin_date' || key=='end_date') && !keepDate) { continue; }
              if (key=='zoom') { var value = map.getZoom(); mapParamsAdded = true; }
              else if (key=='cenLat') { var value = centerCoordinates.lat.toFixed(9); }
              else if (key=='cenLng') { var value = centerCoordinates.lng.toFixed(9); }
              else { var value = decodeURIComponent(keyValue[1]); }
              queryParams.push(key + '=' + value);
            }
            if (!mapParamsAdded) {
              queryParams.push('zoom=' + map.getZoom());
              queryParams.push('cenLat=' + centerCoordinates.lat.toFixed(9));
              queryParams.push('cenLng=' + centerCoordinates.lng.toFixed(9));
            }
            var url = window.location.protocol + '//' + window.location.hostname
            if (window.location.port) { url += ':' + window.location.port }
            url += window.location.pathname + '?' + queryParams.join('&');
            // console.log(url);
            // window.open(url);  // opens in new tab
            window.location.href = '{{ url }}';
        });
      </script>
    </div>
  {% endif %}

{% endblock %}