{% extends "base_generic.html" %}

{% load filters %}

{% block content %}
  <h3>Cycle ride list - {{ dataset|safe|replace:"day|Dai" }}ly</h3>
  {% if cycle_data_list %}
  <ul>
    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}
    <form method="get">
      {% for field in plotdataform %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }} &nbsp;&nbsp;
      {% endfor %}
      <button type="submit">Replot</button>
      <p>(Unfortunately, plotly doesn't handle timedelta objects yet, hence all durations are given from 1970-01-01)</p>
    </form>
    {% if dataset == 'day' %}
      <a href="{% url 'cycle_extra_plots' %}">Extra plots</a>
    {% endif %}
    <p>Number of (shown) entries: {{ cycle_data_list.count }}</p>
    <table class='table_inner_borders'>
      <thead>
        <tr>
          {% if dataset == 'day' %}
            <th> </th>
          {% endif %}
          <th>Date</th> <th>Distance</th> <th>Duration</th> <th>Speed</th>
          {% if dataset == 'day' %}
            <th>Bicycle</th>
            <th>Total Dist.</th> <th>Total Duration</th> <th>Speed (Bicycle)</th>
            <th>Cumu. Dist.</th> <th>Cumulative Duration</th> <th>Cumu. Speed</th>
            <th>GPS (if available)</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for entry in cycle_data_list %}
          <tr>
          {% if dataset == 'day' %}
            <td><a href="{{ entry.get_absolute_url }}">{{entry.entryid}}</a></td>
            <td><a href="{{ entry.get_absolute_url }}">{{entry.date|date_as_yyyymmdd}}</a></td>
            <td>{{entry.distance}}</td> <td>{{entry.duration}}</td> <td>{{entry.speed}}</td>
            <td>{{entry.bicycle}}</td>
            <td>{{entry.totaldistance}}</td> <td>{{entry.totalduration}}</td> <td>{{entry.totalspeed}}</td>
            <td>{{entry.cumdistance}}</td> <td>{{entry.cumduration}}</td> <td>{{entry.cumspeed}}</td>
            <td>
              {% for gps_info in entry.get_gps_url %}
                <a href="{{gps_info.0}}">{{gps_info.1}}</a>,
              {% endfor %}
            </td>
          {% elif dataset == "week" %}
            <td><a href="{{ entry.get_absolute_url }}">{{entry.date|date_as_yyyymmdd}}</a></td>
            <td>{{entry.distance}}</td> <td>{{entry.duration}}</td> <td>{{entry.speed}}</td>
          {% elif dataset == "month" %}
            <td><a href="{{ entry.get_absolute_url }}">{{entry.date|date_as_yyyymm}}</a></td>
            <td>{{entry.distance}}</td> <td>{{entry.duration}}</td> <td>{{entry.speed}}</td>
          {% elif dataset == "year" %}
            <td><a href="{{ entry.get_absolute_url }}">{{entry.date|date_as_yyyy}}</a></td>
            <td>{{entry.distance}}</td> <td>{{entry.duration}}</td> <td>{{entry.speed}}</td>
          {% else %}
            Do not know dataset: {{ dataset }}
          {% endif %}
          </tr>
        {% empty %}
          There are no entries in the database.
        {% endfor %}
      </tbody>
    </table>
  </ul>
  {% else %}
    <p>There is a problem with the database.</p>
  {% endif %}
{% endblock %}