{% extends "base_generic.html" %}

{% load filters %}

{% block content %}
  <h3>Some statistical information</h3>
  {% if dist_per_days %}
    <table  class='table_inner_borders_rows'>
      <tr>
        <th>Time interval</th> <th>Maximum distance between dates</th> <th>Maximum duration between dates</th>
      </tr>
      {% for entry in dist_per_days %}
        <tr>
          <td>{{ entry.days }} day{{ entry.days|pluralize:",s" }}</td>
          <td>
            <table  class='table_inner_borders'>
              {% for entry2 in entry.distance %}
                {{ entry2.distance|floatformat:0 }} km : {{ entry2.start }} - {{ entry2.end }} <br>
              {% endfor %}
            </table>
          </td>
          <td>
            <table  class='table_inner_borders'>
              {% for entry2 in entry.duration %}
                {{ entry2.duration|seconds_to_datetime }} : {{ entry2.start }} - {{ entry2.end }} <br>
              {% endfor %}
            </table>
          </td>
        </tr>
      {% empty %}
        There are no entries available.
      {% endfor %}
    </table>
  <br>
  {% else %}
    <p>There is a problem with the database.</p><br>
  {% endif %}

  {% if same_numbers %}
    <table  class='table_inner_borders_rows'>
      <tr>
        <th>Occurrences</th> <th>Value</th> <th>Dates</th>
      </tr>
      {% for entry in same_numbers.distance %}
        <tr>
          <td>{{ entry.count }}</td> <td>{{ entry.value }}&nbsp;km</td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry.cycle_obj %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
      <tr>
        <th>Occurrences</th> <th>Value</th> <th>Dates</th>
      </tr>
      {% for entry in same_numbers.duration_td %}
        <tr>
          <td>{{ entry.count }}</td> <td>{{ entry.value }}</td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry.cycle_obj %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
      <tr>
        <th>Occurrences</th> <th>Value</th> <th>Dates</th>
      </tr>
      {% for entry in same_numbers.speed %}
        <tr>
          <td>{{ entry.count }}</td> <td>{{ entry.value }}&nbsp;km/h</td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry.cycle_obj %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
    </table>
  <br>
  {% else %}
    <p>There is a problem with the database.</p><br>
  {% endif %}

  {% if same_digits %}
    <table  class='table_inner_borders_rows'>
      <tr>
        <th>Number</th> <th>Dates</th>
      </tr>
      {% for key, entry in same_digits.distances.items %}
        <tr>
          <td>{{ key }} km</td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
      {% for key, entry in same_digits.times.items %}
        <tr>
          <td>{{ key }} </td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
      {% for key, entry in same_digits.speeds.items %}
        <tr>
          <td>{{ key }} km/h</td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
      {% for key, entry in same_digits.totaldistances.items %}
        <tr>
          <td>{{ key }} km</td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
      {% for key, entry in same_digits.totaltimes.items %}
        <tr>
          <td>{{ key }} - {{ key|convert_duration_hms }} </td>
          <td><span style="font-size: smaller;">
            {% for entry2 in entry %}
              {{ sn_date }}<a href="{{ entry2.get_absolute_url }}">{{ entry2.date|date:"Y-m-d" }}</a>
            {% endfor %}
          </span></td>
        </tr>
      {% endfor %}
    </table>
  <br>
  {% else %}
    <p>There is a problem with the database.</p><br>
  {% endif %}

  <h3>Extra plots for daily data</h3>
  {% autoescape off %}
    {{ plot_total_div }}
    {{ plot_hist_dist }}
    {{ plot_hist_dur }}
    {{ plot_hist_speed }}
    {{ plot_diff_div }}
    {{ plot_frac_div }}
  {% endautoescape %}
{% endblock %}