{% extends "base_generic.html" %}

{% load leaflet_tags %}

{% block extra_head %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}
    <div style="margin-left:20px;margin-top:20px">
      <h4>{{ gps.filename }}</h4>
      <p><strong>Start:</strong> {{ gps.start }} &nbsp; <strong>End:</strong> {{ gps.end }}</p>
    </div>
    <div style="margin-left:20px;margin-top:20px">
      <h4>Map:</h4>
    </div>
    <div id="map" style="height: 600px;"></div>
    <script>
        var map = L.map('map').setView({{ center | safe }}, 9);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.polyline({{ gps_positions | safe }}, { color: 'blue' }).addTo(map);
    </script>

{% endblock %}
